.user-list {
  padding: 10px;
}

.title {
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.user-item {
  margin: 6px 0;
}

.user-link {
  text-decoration: none;
  color: black;
}

.user-link:hover {
  color: blue;
}
